In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import Binarizer, MultiLabelBinarizer
import warnings
warnings.filterwarnings('ignore')

### demo : 1

In [2]:
data = {"gap": [-1,-4,-2],
       "diff": [5,3,6]}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

   gap  diff
0   -1     5
1   -4     3
2   -2     6

In [5]:
binarizer = Binarizer(threshold=0)
bin_data = binarizer.transform(df)

In [6]:
df1 = pd.DataFrame(bin_data, columns=df.columns)

In [7]:
df1

   gap  diff
0    0     1
1    0     1
2    0     1

In [8]:
data = [['Handball', 'Baseball', 'Football'],
        ['Volleyball', 'Football', 'Baseball'],
        ['Handball', 'Noball','Softball']
        ]

In [9]:
df_sp= pd.DataFrame(data, columns = ['S1', 'S2', 'S3'])

In [10]:
df_sp

           S1        S2        S3
0    Handball  Baseball  Football
1  Volleyball  Football  Baseball
2    Handball    Noball  Softball

In [11]:
binarize = MultiLabelBinarizer()
bindata = binarize.fit_transform(df_sp.values)

In [12]:
df_sp1 = pd.DataFrame(bindata, columns=binarize.classes_)

In [13]:
df_sp1

   Baseball  Football  Handball  Noball  Softball  Volleyball
0         1         1         1       0         0           0
1         1         1         0       0         0           1
2         0         0         1       1         1           0

# One vs Rest Classifier on Multi Class

In [224]:
data1 = [{ 'movieplot': 'An NYPD officer tries to save his wife and others taken hostage by terrorists during a Christmas party.', 'label':['action','animation']},
 {'movieplot': 'In a restaurant, a rat who can cook and a young kitchen worker form an unusual team.', 'label': ['animation', 'action']},
 {'movieplot': 'A dancer lands the lead role in a production of "Swan Lake" and then has to fight for her sanity.', 'label':['drama','animation']    
}]

In [225]:
# mve_df = pd.DataFrame(list(data1.items()), columns=['movieplot', 'label'])
mve_df = pd.DataFrame(data1)

In [226]:
mve_df

                                           movieplot                label
0  An NYPD officer tries to save his wife and oth...  [action, animation]
1  In a restaurant, a rat who can cook and a youn...  [animation, action]
2  A dancer lands the lead role in a production o...   [drama, animation]

In [227]:
mve_df.label

0    [action, animation]
1    [animation, action]
2     [drama, animation]
Name: label, dtype: object

In [228]:
mlb = MultiLabelBinarizer()

In [229]:
trgt_lbl = mlb.fit_transform(mve_df['label'])

In [230]:
bin_df = pd.DataFrame(trgt_lbl, columns= mlb.classes_)

In [231]:
bin_df

   action  animation  drama
0       1          1      0
1       1          1      0
2       0          1      1

In [232]:
tfidf_vect = TfidfVectorizer()

In [233]:
X =  mve_df['movieplot']
y = mve_df.label

In [234]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.multiclass import OneVsRestClassifier

In [235]:
train_x, test_x, train_y, test_y = train_test_split(X,trgt_lbl, test_size=0.2, random_state=42)

In [236]:
# tfidf_vect = TfidfVectorizer()
train_x = tfidf_vect.fit_transform(train_x)
test_x = tfidf_vect.transform(test_x)

In [237]:
model = LogisticRegression(max_iter=100,verbose=1)
classfier = OneVsRestClassifier(model)

In [238]:
classfier.fit(train_x, train_y)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s finished

OneVsRestClassifier(estimator=LogisticRegression(verbose=1))

In [239]:
y_pred = classfier.predict(test_x)

In [240]:
print(y_pred)

[[1 1 0]]

In [245]:
yprd_lbl = mlb.inverse_transform(y_pred)

In [248]:
ytest_lbl = mlb.inverse_transform(test_y)

In [249]:
yprd_lbl

[('action', 'animation')]

In [250]:
ytest_lbl

[('action', 'animation')]